{% extends "template.html" %}

{% block h1 %}
GovReady Compliance Knowledge Base Prototype API Demo
{% endblock %}

{% block styles %}
<style>
            #results {
                margin-top: 2.5em;
                border-top: 1px solid #ccc;
                padding-top: 1em;
            }

            #results .result-item {
                padding: 1em 0;
            }

            #results .result-item h3 {
                margin-top: 0;
                font-size: 16px;
                font-weight: bold;
            }

            #results .result-item img[src] {
                border: 1px solid black;
            }

            #results .result-item .context {
                margin-top: .5em;
                font-style: italic;
            }

                #results .result-item .context .from-cited-document {
                    color: #777;
                    font-style: normal;
                }
                    #results .result-item .context .from-cited-document:before {
                        content: "[";
                    }
                    #results .result-item .context .from-cited-document:after {
                        content: "]";
                    }

            #results .result-item .role-thumbnail {
                border: 1px solid #999;
                width: 100%;
                padding: 1em;
            }
                #results .result-item .role-thumbnail > div {
                    text-align: center;
                    font-size: 90%;
                    font-weight: bold;
                    color: #666;
                }
</style>
{% endblock %}

{% block body %}
        <div class="container">
            <h2>Search knowledge base...</h2>
            <form onsubmit="submit_search(); return false;">
              <div class="form-group">
                <input type="text" class="form-control" id="formPhrase" name="q" placeholder="access control">
              </div>
              <button type="submit" class="btn btn-default">Submit</button>
            </form>

            <div id="results">
            </div>
        </div> <!-- /container -->

        <div id="result-template" style="display: none">
            <!-- Template for each search result, filled in using jQuery -->
            <div class="result-item row">
                <div class="col-sm-2 thumbnail-container" style="margin-bottom: 1em">
                    <a href=""><img class="img-responsive"/></a>
                </div>
                <div class="col-sm-10">
                    <h3><a>.</a></h3>
                    <div class="owner">by <span/></div>
                    <div class="context">
                    </div>
                </div>
            </div>
        </div>
{% endblock %}

{% block scripts %}
        <script>
            function submit_search() {
                // User initiates a search. Update the window location fragment. The search
                // will be triggered by the hashchange event.
                window.location.hash = "#" + $('form').serialize();
            }

            function popstate() {
                // Update the form - on page load put the query back in the box.
                $('#formPhrase').val(parse_qs(window.location.hash.substring(1)).q);
            }

            function do_search() {
                // Pass the qs-encoded fragment directly to the server.
                var qs = parse_qs(window.location.hash.substring(1));
                if (!qs.q) return; // nothing to search
                ajax_with_indicator({
                    url: '/api/search',
                    data: qs,
                    method: 'GET',
                    success: function(res) {
                        // Okay we have search results now. Clear old results.
                        $('#results').text('')

                        // Add in new results.
                        res.results.forEach(add_result_item);
                    }
                })
            }

            function add_result_item(result) {
                var node = $('#result-template > div').clone();
                $('#results').append(node);

                // title & link url & owner
                if (result.resource.url) {
                    node.find('h3 a').text(result.resource.title);
                    node.find('a').attr('href', result.resource.url);
                } else {
                    node.find('h3').text(result.resource.title);
                }
                
                // owner (if a document; roles don't have owners)
                node.find('.owner').toggle(result.resource.owner != null);
                node.find('.owner span').text(result.resource.owner);

                // thumbnail
                if (result.resource.type == "policy-document" || result.resource.type == "authoritative-document")
                    // for documents, display the given thumbnail image (provided as a URL), or if there is no thumbnail URL then use our stock "no thumbnail" image
                    node.find('img').attr('src', result.thumbnail || "/static/no-thumbnail.png");

                else if (result.resource.type == "role")
                    // roles don't have previewable content --- insert some HTML to display something in the thumbnail column
                    node.find('.thumbnail-container').html("<div class='role-thumbnail'><div>ROLE</div></div>")

                // context
                result.context.forEach(function(item) {
                    if (item.thumbnail) {
                        var tb = $("<a><img style='float: left; max-width: 75px; margin-right: 1em; margin-bottom: 1em; clear: both;'></a>");
                        tb.attr('href', item.link);
                        tb.find('img').attr('src', item.thumbnail)
                        node.find('.context').append(tb);
                    }
                    var text = $("<p class='clearfix'/>").html(item.text); // we're getting back an HTML snippet
                    node.find('.context').append(text);
                });
            }

            // utility function
            function parse_qs(qs) {
              // Parse something that looks like a query string. Based on
              // http://stackoverflow.com/a/2880929/125992.
              var match,
                pl     = /\+/g,  // Regex for replacing addition symbol with a space
                search = /([^&=]+)=?([^&]*)/g,
                decode = function (s) { return decodeURIComponent(s.replace(pl, " ")); },
                ret = {};
              while (match = search.exec(qs))
                ret[decode(match[1])] = decode(match[2]);
              return ret;
            }
         
            // Run the search whenever window.location.hash changes, which includes
            // page navigations and our form submission. Also run the search on page
            // load, and on page load also restore form controls.
            $(window).bind('hashchange', do_search);
            $(window).bind('load', popstate);
            $(window).bind('load', do_search);
        </script>
{% endblock %}